* {
    box-sizing: border-box;
}
body{
    background-color: #E5E5E5;
}
.topo {
    height: 70px;
    width: 100%;
    background-color: #EC362D;
    color: white;
    font-size: 37px;
    font-weight: 700;
    display: flex;  
    justify-content: center;
    align-items: center;
}