@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
}
/* ----- daniel ------ */
.banner img {
  width: 100%;
  height: 100%;
  z-index: -2;
}
.topo {
  height: 70px;
  width: 100%;
  background-color: #ec362d;
  color: white;
  font-size: 37px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner {
  height: 227px;
  width: 100%;
  position: relative;
  object-fit: contain;
}
.banner h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 40px;
  transform: translate(-50%, -50%);
  
}
.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 760px;
  height: 580px;
  background-color: white;
  box-shadow: 0 0 10px 1px;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.pergunta {
  width: 680px;
  height: 140px;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white;
}
.box {
  margin: 0px 10px;
}
.box img {
  height: 145px;
  width: 330px;
}
.box p {
  font-size: 20px;
  font-weight: 700;
}
.opacity-escura {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right,  rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
}
.criacao-quizz{
    width: 1100px;
    height: 230px;
    border: 2px dashed #B9B9B9;
    border-radius: 5px ;
    margin: 66px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.criacao-quizz button{
    border-radius: 20px;
    border:1px dashed #EC362D;
    background-color: #e5e5e5;
    font-size: 21px;
    font-weight: 400;
    color: #EC362D;
}
.criacao-quizz p{
    font-size: 21px;
    font-weight: 400;
    color: #B9B9B9;
    width: 220px;
    height: 80px;
    text-align: center;
}
.quizz-box{
    position: relative;
    margin: 10px;
}
.quizz-box img{
    width: 355px;
    height: 180px;
    border-radius: 5px;
}
.quizz-box p{
    position: absolute;
    
    color: white;
    left: 10px;
    bottom: 10px;
    font-size: 17px;    
    font-weight: 400;
    z-index: 1;
}
.quizz-container{
    margin-left: 66px;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
}
.resposta-errada{
    opacity: 30%;
}
.gradiente{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);

}
.titulo-quizz{
  width: 1100px;
}

/*CRIAÇÂO DO QUIZ ---- DAVID */
.corpoquiz{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.corpoquiz h1 {
  margin-bottom: 0px;
  margin-top: 40px;
}
.corpoquiz button {
  width: 368px;
  height: 54px;
  border-radius: 15px;
  background: #ec362d;
  color: white;
  font-size: 21px;
  cursor: pointer;
}
.cquiz {
  margin-top: 30px;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  flex-direction: column;
  margin-bottom: 30px;
}
.boxinput {
  border: 1px solid;
  font-style: italic;
  margin: 5px 0;
  border-radius: 5px;
  width: 564px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: start;
}
/*DECISAO DE NIVEl*/
.nivel {
  width: 564px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 1;
  margin: 10px;
}

.none {
  display: none;
}
.opacity-clara{
  opacity: 0.3;
}
