@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
* {
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}
.topo {
    height: 70px;
    width: 100%;
    background-color: #EC362D;
    color: white;
    font-size: 37px;
    font-weight: 700;
    display: flex;  
    justify-content: center;
    align-items: center;
}

/*CRIAÇÂO DO QUIZ ---- DAVID */
.corpoquiz{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.corpoquiz h1{
    margin-bottom: 0px;
    margin-top: 40px;
}
.corpoquiz button{
    width: 368px;
    height: 54px;
    border-radius: 15px;
    background: #EC362D;
    color: white;
    font-size: 21px;
}
.cquiz{
    margin-top: 30px;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 500px;
    flex-direction: column;
    margin-bottom: 30px;
}
.boxinput{
    border: 1px solid;
    font-style: italic;
    margin: 5px 0;
    border-radius: 5px;
    width: 564px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: start;
}